@keyframes zoomFade {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes zoomFade {
  0% {
    opacity: 0.3;
    transform: scale(1.15);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-zoomFade {
  animation: zoomFade 0.7s ease forwards;
}
.hero-bg {
  background: linear-gradient(135deg, #f8e8e2, #f2d9d0, #eed0c6);
  animation: bgShift 8s ease-in-out infinite alternate;
}

@keyframes bgShift {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

.floating {
  animation: floatImg 4s ease-in-out infinite;
}

@keyframes floatImg {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

@import "tailwindcss";
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide {
  animation: slide 15s linear infinite;
}

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@keyframes fadeUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeUp {
  animation: fadeUp 1s ease-out;
}